* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #000000;
  
}
header {
  background: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  background-color: #ffffff;
  color: #000000;
   padding: 4px 9px;
  border-radius: 15px;
}

.forme {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fdfdfdf1;
}

.forme-contenu {
  background: #000000;
  padding: 40px;
  border-radius: 15px;
  animation: fadeIn 2s ease;
}

.forme h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.forme p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.boutton {
  background: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.boutton:hover {
  background: #ffffff;
}

.services {
  padding: 60px 40px;
  text-align: center;
}

.services h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card:hover {
  transform: translateY(-10px);
}

/* Footer */
footer {
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
